# .coveragerc to control coverage.py
[run]
#plugins =
#    shelf_coverage_plugin
branch = True
source =
    houdini_toolbox
    houdini/python3.7libs/nodegraphhooks.py
    houdini/toolbar
  #  /var/tmp/

omit =
        *tests*
        *__init__*
	python/houdini_toolbox/machinery/*
	*/constants.py
	python/houdini_toolbox/events/types.py
	python/houdini_toolbox/inline/lib.py
	python/houdini_toolbox/ui/aovs/*
	python/houdini_toolbox/ui/paste/*
	python/houdini_toolbox/ui/icons.py

disable_warnings = 
	module-not-imported
	module-not-measured

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug
    if TYPE_CHECKING

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:

ignore_errors = True

[html]
directory = coverage_html_report
