[flake8]
exclude =
    build/*
    docs/*
    houdini/otls/backup/*
    icons/*
    package.py

max-line-length = 120

per-file-ignores =
    houdini/pyfilter/ht-pyfilter.py:E402
    houdini/python*libs/pythonrc.py:E402
    houdini/scripts/*scenesave.py:F821
    houdini/scripts/On*.py:F821
    houdini/scripts/PreFirstCreate.py:F821
    houdini/scripts/PostLastDelete.py:F821
    houdini/scripts/SyncNodeVersion.py:F821
    python/houdini_toolbox/ui/aovs/utils.py:E501
    tests/*:E501
